 <!-- Team Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="display-4 text-uppercase text-center mb-5">Meet Our Team</h1>
        <div class="owl-carousel team-carousel position-relative" style="padding-left: 30px;">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="../../../assets/img/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">John Doe</h4>
                    <p class="m-0">CEO, Founder</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="../../../assets/img/team-2.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Kate Wilson</h4>
                    <p class="m-0">Designer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="../../../assets/img/team-3.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">John Brown</h4>
                    <p class="m-0">Developer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="../../../assets/img/team-4.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Paul Watson</h4>
                    <p class="m-0">Marketer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->