 <!-- Navbar Start -->
 <div class="container-fluid bg-white position-relative">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
        <a href="" class="navbar-brand text-secondary">
            <img width="100px" class="img-fluid" src="../../../assets/img/logo.png" />
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0 pr-3 border-right">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="/services" class="nav-item nav-link">Services</a>
                <a href="/solutions" class="nav-item nav-link">Solutions</a>
                <a href="/contact" class="nav-item nav-link">Contactez-nous</a>
            </div>
            <div class="d-none d-lg-flex align-items-center pl-4">
                <i class="fa fa-2x fa-mobile-alt text-primary mr-3"></i>
                <div>
                    <h6 class="text-body text-uppercase mb-1"><small>Appelez-nous</small></h6>
                    <h6 class="m-0">77 744 36 63</h6>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->