  <!-- Services Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Our Creative Services</h1>
        <div class="row">
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Web <span class="d-block text-body">Design</span></h4>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-code text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Web <span class="d-block text-body">Development</span></h4>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-envelope-open-text text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Digital <span class="d-block text-body">Marketing</span></h4>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-edit text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Content <span class="d-block text-body">Writing</span></h4>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
